spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          default_batch_fetch_size: 100
    database: mysql
    defer-datasource-initialization: false

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    out-of-order: true

  redis:
    lettuce:
      pool:
        max-active: 5
        max-idle: 5
        min-idle: 2
    host: ${redis-host}
    port: ${redis-port}
    password:

  kumoh-datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    jdbc-url: ${db-url}
    url: ${db-url}
    username: ${db-user}
    password: ${db-pwd}
    hikari:
      connection-timeout: 1100
      keepalive-time: 30000
      validation-timeout: 1000
      max-lifetime: 600000
      data-source-properties:
        sockettimeout: 3000
        cacheprepstmts: true
        prepstmtcachesize: 250
        prepstmtcachesqllimit: 2048
        useserverprepstmts: true
        uselocalsessionstate: true
        rewritebatchedstatements: true
        cacheresultsetmetadata: true
        cacheserverconfiguration: true
        elidesetautocommits: true
        maintaintimestats: false

canvas:
  master-token: ${token}
  root-account-id: 1
  root-admin-id: 5

jwt:
  secret: ${jwt-secret}
  access-token-time: ${jwt-access-token-time}
  refresh-token-time: 86400
  issuer: cha.lineedu.kr

util:
  service-url: ${server-url}
  canvas-url: ${canvas-url}