spring:
  config:
    activate:
      on-profile: test

  test-datasource:
    jdbc-url: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1;MODE=MySQL;NON_KEYWORDS=USER,PARTICIPANT;DATABASE_TO_UPPER=false;
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.H2Dialect
      properties:
        hibernate:
          format_sql: true
          show_sql: true

logging:
  level:
    org.hibernate.SQL: debug
