@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-red {
    background: red !important;
}

.bg-blue {
    background: blue !important;
}

.bg-green {
    background: green !important;
}

.bg-aqua {
    background: aqua !important;
}

.ql-toolbar.ql-snow {
    display: flex !important;
}

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

.time-filter::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}